u{
    text-decoration: underline;  
    text-decoration-color:#61c2a9;
}
#container{
    
    display:inline-block;
}
#inside{
    width:600px;
}
#container {
    padding:40px;
    padding-left:20em;
}
#container p{
    font-size: 20px;
}
#body{
    margin-left: 240px;
    padding-top:60px;
}

#r1{
    background-color:#f9d835;
    width:500px;
}
#r2{
    background-color:#727373;
    width:600px;
}
#r3{
    background-color:#f3a633;
    width:400px;
}
.strips{
    height:16px;
    border-radius: 0px 8px 8px 0px;
}
#rainbow2{
    float:right;
}
#r4{
    width:400px;
    background-color:#727373
}
#r5{
    width:500px;
    background-color:#61c2a9
}
#r6{
    width:600px;
    background-color:#f9d835

}
.strips2{
    float:right;
    height:16px;
    border-radius: 8px 0px 0px 8px;
    display:inline-block;
}
.homepage-display{
    width:150px;
}