u{
    text-decoration: underline;  
    text-decoration-color:#61c2a9;
}
#container{
    
    display:inline-block;
}
#inside{
    width:600px;
}
#container {
    padding:40px;
    padding-left:20em;
}
#container p{
    font-size: 20px;
}
#body{
    margin-left: 240px;
    padding-top:60px;
}

#r1{
    background-color:#f9d835;
    width:500px;
}
#r2{
    background-color:#727373;
    width:600px;
}
#r3{
    background-color:#f3a633;
    width:400px;
}
.strips{
    height:16px;
    border-radius: 0px 8px 8px 0px;
    display:block;
}
#rainbow2{
    float:right;
}
#r4{
    width:800px;
    background-color:#727373;
    display:block;
}

#r6{
    width:600px;
    background-color:#f9d835

}
#r7{
    width:700px;
    background-color:#61c2a9
}
.strips2{
    float:right;
    height:16px;
    border-radius: 8px 0px 0px 8px;
    display:block;
}
.homepage-display{
    width:150px;
}
.hover-enlarge:hover{
    text-decoration:line-through;
}
.hover{
    transform: scale(1.25); 
    transition: transform .100s;
}
#one{
    color:#fcb619
}
#two{
    color:#61c2a9
}
#three{
    color:#f3a633
}