
.SideBar {
    text-align:center;
    width:240px;
    background-color:white;
    height:100vh;
    display:fixed;
}
.SideBar a{
    color:black;
    padding: 5px 8px 5px 90px;
    display:block;
    font-size:14px;
    text-align:left;
    font-weight:300;
    z-index:2;
}
.logo{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
    
    
}
footer{
    background-image: linear-gradient(to right,#61c2a9,#f9d835,#f3a633); 
    height: 23px;
    color:white; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}