
.SideBar {
    text-align:center;
    width:200px;
    height:100vh;
    display:fixed;
}
.SideBar a{
    color:black;
    display:block;
    font-size:14px;
    padding-left:50px;
    text-align:left;
    font-weight:300;
    z-index:2;
}
.logo{
    width:50%;
    padding-top:20%;
}
#sidebar-container{
    padding-top:20%;
}
footer{
    height: 23px;
    color:lightgray; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
.link{
    color:pink
}