.Modal{
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    background-color: #fcfdff;
    z-index:101;
}
#header-colour{
    background-color: #d6e7f2;
    text-align:center;
    padding:10px;
    position:static;
    width:100vw
}
#header-c{
    display: inline-block;
}
#header-c p{
    border-radius: 120px 0px 0px 120px;
}
.UDesign{
    background-color: #61c3aa;
    padding-top:1px;
    padding-bottom:1px;
    font:10px;
    color:white;
}
#pop-up{
    background-color: #fcfdff;
    z-index: 101;
    position:static;
    text-align: center;
    width:100vw
}
#pop-up h1{
    margin-bottom: 0;
    color:black;
}
#pop-up p{
    background:#f9d835;
    padding-top:    1px;
    padding-bottom: 1px;
    font:10px;
}
#pop-up-text{
    display: inline-block;
}
.dp{
    width:45%;
    display:flex;

}
.dp-container{
    padding-left: 100px;
}
.container1{
    height:100%;
    overflow: scroll;
}
#display-background{
    background-color:#f9f9f9;
    height:500px;
}
#display-background img{
    height:100%;
}
.modal-container{
    text-align:center;
}
#row{

}
